@charset "utf-8";
/* CSS Document */
.content{width:1200px;margin:0 auto;}

header{
	height: 78px;
	}
header .hd-l{
	float: left;
	display: flex;
	width: 170px;
	justify-content: space-between;
	padding:10px 22px;
	box-sizing: border-box;
	}	
header .logo{
	float: left;
	margin: 20px 146px 20px 308px ;
	}
header .search{
	float: right;
	display: flex;
	margin: 10px 28px 0 0;
}
header .search input{
	height: 30px;
	width: 268px;
	box-sizing: border-box;
	border: 1px solid #c39a58;
	border-right:0 ;
	padding:0 8px ;
}
nav{
	background-color: #111;
	height: 40px;
}
nav ul{
	width: 590px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	
}
nav ul li{
	cursor: pointer;
	box-sizing: border-box;
}
nav ul li a{
	font-size: 14px;
	line-height: 38px;
	display: block;
	color: #fff;
	padding: 0 15px;
}
nav ul li.active{
	border-bottom: 2px solid #C39A58;
}
nav ul li.active a{
	color: #c39a58;
}
#menu{
	background-color: #f7f7f7;
	height: 44px;
}
#menu .menu1{
	width: 720px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
#menu .menu1 .li01{
	width: auto; height: 44px;
	position: relative; left: 0; top: 0;
	cursor: pointer;
	font-size: 14px;
	line-height: 44px;
	color: #111;
}
#menu .menu1 .li01 p{
	height: 100%;
	padding: 0 15px;
	position: relative; left: 0; top: 0;
	z-index: 66;
}
#menu .menu1 li.li01 .menu2{
	width: 450px; height:300px;
	border: 1px solid #D7D7D7;
	background: #fff;
	position: absolute; left: 0; top: 44px;
	z-index: 22;
	display: none;
}
#menu .menu1 li.li01:hover p{
	background-color: #fff;
	border-right:1px solid #d7d7d7 ;
	border-left:1px solid #d7d7d7 ;
	border-bottom:#fff solid 1px;
}
#menu .menu1 li.li01:hover .menu2{
	display: block;
}
#menu .menu1 li.li01 .menu2 h3{
	font-size: 14px;
	font-weight: 700;
	padding:30px 0 10px 10px;
}
#menu .menu1 li.li01 .menu2 ul{
	padding-left:10px ;
	overflow: hidden;
}
#menu .menu1 li.li01 .menu2 ul li{
	float: left;
	font-size: 14px;
	color: #333;
	margin-right:10px ;
	border-right:1px solid #D7D7D7;
	cursor: pointer;
	padding-right:10px ;
	line-height: 14px;
	margin-bottom: 10px;
}
#menu .menu1 li.li01 .menu2 ul li:last-child{
	border-right:none ;
}
#banner{
	padding: 30px 0;
}
#banner .swiper-container{
	width: 1200px;
	height: 610px;
	overflow: hidden;
}
#banner .swiper-container .swiper-pagination-bullets{
	bottom: 16px;
}
#banner .swiper-container .swiper-pagination-bullet{
	width: 15px; height: 15px;
	margin: 0 7px;
}
#banner .swiper-container .swiper-pagination-bullet-active{
	background: #707070;
}
	
.title{
	text-align: center;
}
.title p{
	line-height: 76px;
	font-size: 36px;
	
}
#goods{
	
}
#goods ul{
	width: 1200px;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap ;
}
#goods ul li{
	margin-bottom: 10px;
	transition: 0.5s linear transform;
}
#goods ul li img{
	display: block;
	width: 392px;
	height: 285px;
}
#goods ul li:hover{
	transform: scale(1.06);
}
#find{
	padding-bottom: 120px;
}
#find ul{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap ;
}
#find ul li{
	height: 463px;
	width: 300px;
	padding: 5px 0;
}
#find ul li div{
	height: 446px;
	width: 280px;
	margin: 0 auto;
}
#find ul li img{
	width: 270px;
	height: 330px;
	display: block;
	margin: 0 auto;
}
#find ul li p{
	font-size: 18px;
	color: #111;
	font-weight: 500;
	margin-top: 10px;
	padding: 0 20px;
}
#find ul li h3{
	color: #ccc;
	font:16px/36px "" ;
	padding: 0 20px;
}
#find ul li span{
	font:18px/38px "" ;
	color: #111;
	font-weight: 500;
	padding: 0 20px;
}
#find ul li div:hover{
	box-shadow:  0px 0px 5px 5px rgba(0,0,0,.2);
}
#promise{
	height: 100px;
}
#promise ul{
	width: 856px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
#promise ul li{
	width: 120px;
	height: 40px;
}
#promise ul li i{
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	background:url(../img/icon.png) no-repeat;
}
#promise ul li i.t1{
	background-position:center;
}
#promise ul li i.t2{
	background-position:bottom;
}

#promise ul li span{
	float: left;
	color: #666;
	font: 16px/40px "";
	padding-left: 16px;
}
footer{
	background: #111;
	height: 278px;
}
footer .content{
	display: flex;
	align-items: center;
		height: 278px;
}
footer .left{
	width: 300px;
	height: 185px;
	border-right: 1px solid #aaa;
	padding: 0 50px;
	box-sizing: border-box;
}
footer .left .l1{
	display: block;
	margin-bottom: 30px;
}
footer .left .l2{
	display: block;
}
footer .left2{
	width: 157px;
	height: 185px;
	border-right: 1px solid #aaa;
	padding: 0 50px;
	box-sizing: border-box;
}
footer .left2 li{
	width:56px;
	font-size: 14px;
	color: #aaa;
	margin-bottom: 20px;
}
footer .center{
	width: 307px;
	height: 185px;
	border-right: 1px solid #aaa;
	padding: 0 50px;
}
footer .center p{
	font-size: 14px;
	color: #aaa;	
}
footer .center img{
	margin-top: 30px;
}
footer .right{
	width: 204px;
	height: 185px;
	padding: 0 30px 0 50px;
}
footer .right p{
	font-size: 14px;
	color: #aaa;
}
footer .right .img1{
	display: block;
	margin: 15px 0 23px 0;
}
